body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#map {
    height: 400px;
    background-color: #eaeaea;
}

#controls {
    margin-top: 20px;
}
