body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #e5c122;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
}

#map {
    height: 400px;
}

#controls {
    margin-top: 20px;
}

